
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, select, mark, p {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #6a5acd 0%, #483d8b 100%);
  overflow: hidden;
  height: 100vh;
  position: relative;
}

/* Star canvas (background) */
#starCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

/* Game canvas */
.all {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

canvas#canvas {
  background: none;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(160, 217, 255, 0.7);
  backdrop-filter: blur(10px);
}

/* Controls */
.controls {
  margin-top: 30px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.controls button, .controls select {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  background: linear-gradient(to bottom, #3a96d4, #28b7ff);
  color: #4738ac;
  border: 2px solid #28b7ff;
  text-transform: uppercase;
 /* transition: 0.2s ease;*/
  cursor: pointer;
}

.controls button:hover, .controls select:hover {
  background: transparent;
  border: 2px solid #28b7ff;
  color: #28b7ff;
}

/* Info text */
p {
  font-size: 24px;
  margin: 20px 0 5px;
  text-align: center;
  color: #28b7ff;
}

mark {
  background: linear-gradient(to bottom, #58b8eb, #0077b3);
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 0 5px rgba(160, 217, 255, 0.8);
  margin: 0 12px;
}

.astronaut img{
  position: absolute;
  height: 170px;
  top: 10%;
  left: 1.5%;
  rotate: -15deg;
}

.planet img{
  position: absolute;
  height: 130px;
  top: 23%;
  left: 84%;
  rotate: -20deg;
}
.earth img{
  position: absolute;
  height: 130px;
  top: 52%;
  left: 10%;
  rotate: 20deg;
}
.firedAsteroid img{
  position: absolute;
  height: 130px;
  top: 72%;
  left: 79%;
  rotate: -10deg;
}